<div class="demo-app__header"> <h1>Register Pets</h1> </div>

<div class="demo-app__main">

  <div class="demo-app__main__add-pet">
    <h2>Add pet</h2>
    <form>
      <div class="form-group">
        <label for="namePet">Name</label>
        <input type="text" #petname class="form-control" id="namePet" placeholder="Name of the pet">
      </div>
       <div class="form-group">
        <label for="kindPet">Kind</label>
        <input type="text" #kind class="form-control" id="kindPet" placeholder="Cat, Dog, Bird, etc...">
      </div>
      <button type="submit" class="btn btn-default" (click)="addPet(petname.value, kind.value)">Register</button>
    </form>
  </div>

  <div class="demo-app__main__pet-list">
    <h2>Registered pets</h2>
    Hola {{state.networkStatus}}
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Name</th>
          <th>Kind</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="#item of state.pets;">
          <td>{{item.name}}</td>
          <td>{{item.kind}}</td>
        </tr>
      </tbody>
    </table>
  </div>


</div>

<!--<form>-->
    <!--<h2>Survey</h2>-->
    <!--<label>Are you planning to visit again the restaurant?</label>-->
    <!--<input type="text" (keyup)="0" #inputAnswer placeholder="yes/not"/>-->
    <!--<p [style.visibility]="inputAnswer.value ==='yes' ? 'visible': 'hidden'">Thanks for your preference.</p>-->
    <!--<p [style.visibility]="inputAnswer.value ==='not'  ? 'visible': 'hidden'">Thanks, We'll try to improve</p>-->
    <!--<br>-->
    <!--<br>-->
<!--</form>-->
